<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Datena - A free and open notebook</title>

    <!-- Initialization -->
    <link type="text/css" rel="stylesheet" href="./../statics/init/init.css">

    <!-- Topbar stylesheet -->
    <link type="text/css" rel="stylesheet" href="./../statics/css/topbar.css">

    <link type="text/css" rel="stylesheet" href="./../statics/css/format.css">

    <!-- Button packages -->
    <link type="text/css" rel="stylesheet" href="./../lib/packages/css/buttons.css">

</head>

<body>
<!-- ********************************************************
        TOP BAR CONTENT & NOTIFICATIONS
******************************************************** -->
<!--header start-->
<div class="apptopbar black-bg">

    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-apptitle="Toggle Navigation"></div>
    </div>

    <!--logo start-->
    <a class="apptitle" href="index.html">
        <b>DATENA <span>NOTEBOOK</span> </b>
    </a>

    <a class="right-most" href="login.html">
        <div class="button button-3d button-rounded button-primary">
            Logout
        </div>
    </a>

</div>

</body>
</html>